<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form role="form" action="/login" th:action="@{/login}" th:object="${loginForm}" method="post">
        <label for="loginId">아이디</label>
        <input type="text" th:field="*{loginId}" id="loginId" >
        <div th:errors="*{loginId}">아이디 오류</div>
        <label for="password">비밀번호</label>
        <input type="password" th:field="*{password}" id="password">
        <div th:errors="*{password}">비밀번호 오류</div>

        <div th:if="${#fields.hasGlobalErrors()}">
            <p th:each="err:${#fields.globalErrors()}" th:text="${err}">오류 메시지</p>
        </div>
        <button type="submit">로그인</button>
    </form>
    <a href="/users/new">회원가입</a>
    <button type="button" th:onclick="|location.href='@{/}'|">취소</button>
</div>
</body>
</html>