<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${post.getTitle()}">Title</title>
</head>
<body>
    <h2><a href = "/">CommunitySite</a></h2>
    <h3><a th:href = "@{/forum/{forumId}(forumId=${forumId})}" th:text="${forumName}"></a></h3>
    <div>
    <div th:if="${(post.user==null || post.user.equals(user))}"><span><button type="button"
                 th:onclick="|location.href='@{/forum/{forumId}/post/{id}/update(id=${postId}, forumId=${forumId})}'|">수정
    </button></span><span>
        <button th:onclick="|location.href='@{/forum/{forumId}/post/{postId}/delete(forumId=${forumId}, postId=${postId})}'|"
                method="get">
            삭제
        </button></span></div>
    <div>
        <div>
            <p th:text="'Title :' + ${post.getTitle()}"></p>
        </div>
        <div th:text="'Writer:' + ${(post.postType!=postType[0])?post.anonymousUserName:post.user.userName}"></div>
        <div th:text="'Date  :' + ${post.getLastModifiedDate().withNano(0)}"></div>
        <hr>
        <div th:text="${post.getContent()}"></div>
    </div>
    <hr>
    <!-- 댓글 영역-->
    <div th:each="comment:${post.getComments()}">
        <table>
            <tr>
                <td th:text="'>>'+${(comment.postType!=postType[0])?comment.anonymousUserName:comment.user.userName}"></td>
                <td th:text="${comment.lastModifiedDate.withNano(0)}"></td>
            </tr>
            <tr>
                <td th:text="${comment.content}"></td>
            </tr>
            <tr th:if="${(comment.postType==comment.postType.ANONYMOUS)||(comment.user!=null && comment.user.equals(user))}">
                <td><a th:href="@{/forum/{forumId}/post/{postId}/comment/{commentId}/delete(forumId=${forumId},
                        postId=${postId}, commentId=${comment.id})}">댓글삭제</a></td>
            </tr>
        </table>
    </div>
        <!--댓글 입력 부분-->
    <div>
        <form th:action="@{/forum/{forumId}/post/{postId}/comment/new(postId=${postId}, forumId=${forumId})}"
              th:object="${commentForm}" method="post">
            <div th:if="${user==null}">
                <div>
                    <label for="username">작성자</label>
                    <input type="text" id="username" th:field="*{username}">
                    <div th:errors="*{username}">작성자 이름 기입 오류</div>
                </div>
                <div>
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" th:field="*{password}">
                    <div th:errors="*{password}">비밀번호 기입오류</div>
                </div>
            </div>
            <div>
                <label for="content" th:text="댓글"></label>
                <textarea cols="40" rows="5" th:field="*{content}"></textarea>
                <div th:errors="*{content}">내용 기입 오류</div>

                <button type="submit" id="content" th:text="댓글등록"></button>
            </div>
        </form>
    </div>
    </div>
</body>
</html>