<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:nl2br="https://github.com/bufferings/thymeleaf-extras-nl2br">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body class="bg-light bg-gradient">

<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<a class="text-decoration-none" th:href="@{/forum/{forumId}(forumId=${forumId})}">
    <p class="h2 text-center fw-bolder text-secondary" th:text="${forumName}"></p>
</a>
<div class="bg-secondary bg-opacity-10" style="min-width: 1000px">
    <div class="pt-3 m-3">
        <div class="row">
            <div class="col-lg-5">
                <p class="h4 fw-bold" th:text="${post.getTitle()}"></p>
            </div>
            <div class="row">
                <div class="col-sm-2"><p class="fs-6"
                                         th:text="${(post.postType!=postType[0])?post.anonymousUserName:post.user.userName}"></p>
                </div>
                <div class="col-sm-2"><p class="fw-light" th:text="${{post.getLastModifiedDate().withNano(0)}}"></p>
                </div>
                <div th:if="${post.imageFile}"><img th:src="|/image/${post.imageFile.storeFileName}|" />
                </div>
            </div>
            <div><p class="fw-normal" nl2br:text="${post.getContent()}"></p></div>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-sm-1">
            <a class="text-decoration-none" th:if="${(isPostAnonymous || isUserWriter)}"
               th:href="@{/forum/{forumId}/post/{id}/update(id=${postId}, forumId=${forumId})}">
                <p class="fw-lighter">수정</p>
            </a>
        </div>
        <div class="col-sm-1">
            <a class="text-decoration-none" th:if="${(isPostAnonymous || isUserWriter || isUserManager)}"
               th:href="@{/forum/{forumId}/post/{postId}/delete(forumId=${forumId}, postId=${postId})}">
                <p class="fw-lighter">삭제</p>
            </a>
        </div>
    </div>
    <hr>
    <!-- 댓글 영역-->
    <div class="ms-3 p-1">
        <div th:each="comment:${post.getComments()}">
            <div class="row w-25">
                <div class="col-sm-3 overflow-hidden"><p class="fs-6"
                                                         th:text="${(comment.postType!=postType[0])?comment.anonymousUserName:comment.user.userName}"></p>
                </div>
                <div class="col"><p class="fw-lighter" th:text="${{comment.lastModifiedDate.withNano(0)}}"></p></div>
                <div class="col-sm-1"
                     th:if="${(comment.postType==comment.postType.ANONYMOUS)||(comment.user!=null && comment.user.equals(user))}">
                    <a class="text-decoration-none" th:href="@{/forum/{forumId}/post/{postId}/comment/{commentId}/delete(forumId=${forumId},
                        postId=${postId}, commentId=${comment.id})}">
                        <p class="text-muted fw-lighter">X</p>
                    </a>
                </div>
            </div>
            <div class="align-baseline w-75"><p class="fw-normal" th:text="${comment.content}"></p></div>
            <hr>
        </div>
        <!--댓글 입력 부분-->
        <div>
            <form th:action="@{/forum/{forumId}/post/{postId}/comment/new(postId=${postId}, forumId=${forumId})}"
                  th:object="${commentForm}" method="post">
                <div class="row mb-1" th:if="${user==null}">
                    <div class="col-sm-2">
                        <label for="username" class="form-label">작성자</label>
                        <input type="text" cols="10" id="username" th:field="*{username}"
                               th:errorclass="field-error" class="form-control form-control-sm">
                        <div class="field-error" th:errors="*{username}">작성자 이름 기입 오류</div>
                    </div>
                    <div class="col-sm-2">
                        <label for="password" class="form-label">비밀번호</label>
                        <input type="password" cols="10" id="password" th:field="*{password}"
                               th:errorclass="field-error" class="form-control form-control-sm">
                        <div class="field-error" th:errors="*{password}">비밀번호 기입오류</div>
                    </div>
                </div>
                <div class="mb-2 me-3">
                    <label for="content" th:text="댓글" class="form-label"></label>
                    <textarea cols="35" rows="2" th:field="*{content}" th:errorclass="field-error" class="form-control"></textarea>
                    <div class="field-error" th:errors="*{content}">내용 기입 오류</div>
                </div>
                <div class="mb-3">
                    <button type="submit" id="content" class="btn btn-secondary" th:text="댓글등록"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>