<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="post.html" th:action th:object="${postForm}" enctype="multipart/form-data" method="post">
        <input type="hidden" id="id" name="id" th:value="${postId}">
        <div>
            <label for="title">제목</label>
            <input id="title" type="text" th:field="*{title}">
            <div th:errors="*{title}">제목 기입 오류</div>
        </div>
        <input type="hidden" id="postType" name="postType" th:value="*{postType}">
        <div th:if="${postForm.postType!=postForm.postType.NORMAL}">
            <label for="password">비밀번호</label>
            <input id="password" type="password" th:field="*{password}">
            <div th:errors="*{password}">비밀 번호 기입 오류</div>
        </div>
        <div>
            <label for="imageFile">이미지 파일 추가</label>
            <input type="file" id="imageFile" th:field="*{imageFile}">
        </div>
        <div>
            <label for="content">내용</label>
            <textarea id="content" cols="50" rows="10" th:field="*{content}">

            </textarea>
            <div th:errors="*{content}">내용 기입 오류</div>
        </div>
        <button type="submit">수정</button>
        <button type="button" th:onclick="|location.href='@{/forum/{forumId}/post/{postId}(forumId=${forumId}, postId=${postId})}'|">취소</button>

    </form>
</div>
</body>
</html>