<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <form th:action method="post" th:object="${password}">
        <label for="password" class="form-label">비밀번호입력</label>
        <input type="password" id="password" name="password" class="form-control" th:field="*{password}" th:errorclass="field-error">
        <div th:errors="*{password}" class="field-error">패스워드 입력 오류</div>
        <div class="d-grid gap-2 mt-1">
            <button type="submit" class="btn btn-sm btn-danger">삭제</button>
            <button type="button" class="btn btn-sm btn-secondary" th:onclick="|location.href='@{/forum/{forumId}/post/{postId}(forumId=${forumId}, postId=${postId})}'|">취소</button>
        </div>
    </form>
</div>
</body>
</html>