<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container" style="text-align: center">
    <div th:if="${user == null}">
        <form role="form" action="/login" th:action="@{/login}" th:object="${loginForm}" method="post">
            <div class="mb-2">
                <label for="loginId" class="form-label">아이디</label>
                <input type="text" th:field="*{loginId}" id="loginId" th:errorclass="field-error" class="form-control form-control-sm">
                <div class="field-error" th:errors="*{loginId}"></div>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">비밀번호</label>
                <input type="password" th:field="*{password}" id="password" th:errorclass="field-error" class="form-control form-control-sm">
                <div class="field-error" th:errors="*{password}"></div>
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
            <a href="/users/new" class="btn">회원가입</a>
        </form>
    </div>
    <div th:if="${user != null}">
        <p th:text="|${user.userName} 님 안녕하세요!|" class="text-break"></p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn">로그아웃</button>
        </form>
    </div>
</div>

<p class="h3 text-center">Forum List</p>

<div class="jumbotron d-flex justify-content-center">
    <div class="list-group m-3 gap-1" style="min-width: 1000px">
        <div th:each="forum :${forums}" class="row align-middle">
            <div class="col">
                <a th:href="@{/forum/{id}(id=${forum.id})}" th:text="${forum.getForumName()}"
                   class="list-group-item list-group-item-action list-group-item-primary">
                    포럼명
                </a>
            </div>

            <div class="col">
                <a th:if="${(forum.forumType==forum.forumType?.MINOR && user!=null && user.userType==user.userType?.ADMIN)}"
                   th:href="@{/forum/{id}/manager(id=${forum.id})}"
                   class="list-group-item list-group-item-action">
                    매니저위임
                </a>
            </div>
        </div>
        <a th:if="${user!=null && user.userType==user.userType?.ADMIN}" th:href="@{/forum/new}" class="btn btn-secondary">
            포럼 생성
        </a>
    </div>
</div>
</body>
</html>