<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${forumName}">Title</title>
</head>
<body>
<h2><a href = "/">CommunitySite</a></h2>
<h3><a th:href th:text="${forumName}"></a></h3>
<div>
    <form th:action="@{/forum/{forumId}/post/new(forumId=${forumId})}" th:object="${postForm}" method="post">
        <div>
            <label for="title">제목</label>
            <input type="text" th:field="*{title}">
        </div>
        <div>
            <label for="username">작성자</label>
            <input type="text" th:field="*{username}">
        </div>

        <!-- radio 방식은 이상해서 안함 -->

<!--        <div th:each="category:${categories}" >-->
<!--            <input type="radio" th:field="*{categoryId}" th:value="${category.id}">-->
<!--            <label th:for="${#ids.prev('categoryId')}" th:text="${category.categoryName}">-->
<!--                자유-->
<!--            </label>-->
<!--        </div>-->

        <!--select box 방식 -->
        <div>
            <select th:field="*{categoryId}">
                <option th:each="category:${categories}" th:value="${category.id}"
                        th:text="${category.categoryName}">일반</option>
            </select>
        </div>

        <div>
            <label for="content">내용</label>
            <textarea cols="50" rows="10" th:field="*{content}">

            </textarea>
        </div>
        <div>
            <input type="hidden" th:value="${forumId}" id="forumId" name="forumId">
        </div>
        <button type="submit">올리기</button>
    </form>
</div>
    <div th:each="post:${posts}">
       <div>
           <div>
               <a th:href="@{/forum/{forumId}/post/{postId}(postId=${post.id}, forumId=${forumId})}"
                  th:text="'Title :' + ${post.getTitle()}"></a>
           </div>
           <div th:text="'Writer:' + ${post.getUser().getUserName()}"></div>
           <div th:text="'Date  :' + ${post.getLastModifiedDate()}"></div>
           <div th:text="'>>>' + ${post.getContent()}"></div>
       </div>
    </div>
</body>
</html>