<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${forum.forumName}">Title</title>
</head>
<body>
<h2><a href = "/">CommunitySite</a></h2>
<h3><a th:href th:text="${forum.forumName}"></a></h3>

<div>
    <a th:href="@{/forum/{forumId}/category/new(forumId=${forum.id})}">카테고리 생성</a>
    <ul>
        <li th:each="category:${categories}" >
            <a th:href="@{/forum/{forumId}/category/{categoryId}(forumId=${forum.id}, categoryId=${category.id})}"
               th:text="${category.categoryName}">전체</a>
        </li>
    </ul>
</div>

<div>
    <form th:action="@{/forum/{forumId}/post/new(forumId=${forum.id})}" th:object="${postForm}" method="post">
        <input type="hidden" id="posts" name="posts" th:value="${posts}">
        <input type="hidden" id="categories" name="categories" th:value="${categories}">
        <input type="hidden" id="forumName" name="forumName" th:value="${forum.forumName}">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}">
            <div th:errors="*{title}">제목 기입 오류</div>
        </div>
        <div th:if="${user==null}">
            <label for="username">작성자</label>
            <input type="text" id="username" th:field="*{username}">
            <div th:errors="*{username}">작성자 이름 기입 오류</div>
        </div>
        <div th:if="${user==null}">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}">
            <div th:errors="*{password}">비밀번호 기입오류</div>
        </div>
        <!--select box 방식 -->
        <div>
            <select th:field="*{categoryId}">
                <option th:each="category:${categories}" th:value="${category.id}"
                        th:text="${category.categoryName}">일반</option>
            </select>
        </div>

        <div>
            <label for="content">내용</label>
            <textarea cols="50" rows="10" id="content" th:field="*{content}">

            </textarea>
            <div th:errors="*{content}">내용 기입 오류</div>
        </div>
        <div>
            <input type="hidden" th:value="${forum.id}" id="forumId" name="forumId">
        </div>
        <button type="submit">올리기</button>
    </form>
</div>
    <div th:each="post:${posts}">
        <div>
            <a th:href="@{/forum/{forumId}/post/{postId}(postId=${post.id}, forumId=${forum.id})}"
               th:text="'Title :' + ${post.title}"></a>
        </div>
        <div th:text="'Writer:' + ${(post.postType!=postType[0])?post.anonymousUserName:post.user.userName}"></div>
        <div th:text="'Date  :' + ${post.lastModifiedDate.withNano(0)}"></div>
        <div th:text="'>>>' + ${post.content}"></div>
    </div>
</body>
</html>